.main-image {
	width: 100%
	border-radius: 10px;
	margin-top: 10px;

}
.card-title {
	font-family: 'Pacifico', cursive;
	margin-top: 10px
}

.blog {
	margin-left: 25px;
	color: orange;
}
.card {
	background-color: lightgrey;
	margin-top: 10px
}
.card-footer {
	background-color: grey;
}
body {
	background: url('../imgs/background.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
h1 {
	text-align: center;
	font-family: 'Pacifico', cursive;
}